################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwitterSupport/.vs
/TwitterSupport/TwitterSupport.ApplicationService/obj
/TwitterSupport/TwitterSupport.CrossCutting/obj
/TwitterSupport/TwitterSupport.DependencyInjection/obj
/TwitterSupport/TwitterSupport.Model/obj
/TwitterSupport/TwitterSupport.Services/obj
/TwitterSupport/TwitterSupport.UserInterface/e2e
/TwitterSupport/TwitterSupport.ApplicationService/bin/Debug/netcoreapp2.2
/TwitterSupport/TwitterSupport.CrossCutting/bin/Debug/netcoreapp2.1
/TwitterSupport/TwitterSupport.DependencyInjection/bin/Debug/netcoreapp2.1
/TwitterSupport/TwitterSupport.Model/bin/Debug/netcoreapp2.1
/TwitterSupport/TwitterSupport.Services/bin/Debug/netcoreapp2.1
/TwitterSupport/TwitterSupport.Tests/obj
/TwitterSupport/TwitterSupport.Tests/bin/Debug/netcoreapp2.2
