################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwitterSupport/.vs
/TwitterSupport/TwitterSupport.ApplicationService/obj
/TwitterSupport/TwitterSupport.CrossCutting/obj
/TwitterSupport/TwitterSupport.DependencyInjection/obj
/TwitterSupport/TwitterSupport.Model/obj
/TwitterSupport/TwitterSupport.Services/obj
/TwitterSupport/TwitterSupport.UserInterface/e2e
